<div class="container">
  <div class="side">
    <div class="header">
      <h2><b><i>Prakhar
            Khare</i></b></h2>

      <p> Full Stack Developer<br><br>
        Tata Communications
      </p>
     

    </div>
    <div class="subSideHeading">
      <p>Personal Info</p>
    </div>
    <p> Phone:<br>
      8299782956, 9045117217
      <br>
      <p>Email:<br>
      Khare01prakhar@gmail.com
    </p>
    <div class="subSideHeading">
        <p>Technical Skills</p>
      </div>
      <p>HTML, CSS, JavaScript<br><br>
      Angular 7, NodeJs, Python,<br><br>
      Java, SpringBoot
      </p>
      <div class="subSideHeading">
          <p>Soft Skills</p>
        </div>
        <p>Communication,
          Problem Solving
        </p>
  </div>
  <div class="main">
    <p>
      Experienced Network System Engineer with a demonstrated history of working in the telecommunications industry.
      Skilled in Python , Node.js, Javascript, Angularjs,Mean Stack. Strong information technology professional
      with a Bachelor of Technology (B.Tech.) focused in Electronics and communication from SRM University.
    </p>
    <hr>
    <h3>Certifications</h3>
    <hr>
    <p><b>Microsoft Technology Assosciate-JavaScript</b></p>
    <hr>
    <h3>Education</h3>

    <hr>
    <div class="exp">
        <div>July 2013 - May 2017</div>
        <div>B-Tech Electronics And Communication(9.1 Cgpa)</div> 
  
      </div>
    <hr>
    <h3>Experience</h3>

    <hr>
    <div class="exp">
      <div>March 2019 - Present</div>
      <div>Senior Network System Engineer</div>

    </div><br>
    <div class="exp">
      <div>July 2017 - March 2019</div>
      <div>Network System Engineer</div>

    </div>
   
    <hr>
    <h3>Projects</h3>
    <hr>
   <p> <b>Update Dashboard</b> - End to End web application using Mean stack which takes
the update from each user and saves in the database. Different user has a different
level of access according to their roles.Application authentication and Authorization
done using Passport.js. After gathering information, a mail is sent to the admin
containing the updates as an excel sheet. Contribution-Backend<br><br>
<b>Self Service Portal</b> - End to End Single Page Application in which user can select
the services he wants and modify the existing services.Contribution-Front End <br><br>
<b>Cloud Details Dashboard</b>- SPA for collecting information from various devices
using Python. Saving the information in Database and displaying accordingly to
the user. A user can modify, delete and add information according to his needs.
Backend and Front-end connect using Restful API. World Map containing the
location of the POPs.. Contribution-Full Stack<br><br>
<b>Architecture Diagram</b>- A Single page application which shows the router and
their associated bundle ether for a particular Bvid.Architecture created using D3.js<br><br>
<b>KPI Ethernet</b> - A end to end project using Influxdb, Ansible, Grafana, Python,
ELK stack. Ansible is used for collecting the Key parameters from Devices which
were parsed using Textfsm and stored in Influxdb. For few cases, this information
was stored Using ELK stack also.<br><br>
<b>Config Generator</b>- A web application which produces router configuration
according to the input from the user and pushes to the routers.Frontend done using
Angular 6. Contribution-Full Stack<br><br>
<b>Exfo</b>- Worked on Exfo Application. Plotting the network details.Plotting the
network details on UI. Technologies include Grafana, InfluxDb, Python<br><br>
<b>Middleware</b>- Creating a middleware using SpringBoot ,Maven and Java, which interacts with othe application using restful Api's</p>
    <hr><h3>Achievements</h3><hr>
   <p>
Certificate of Excellence From Tata Communications(Dec 2018)<br>
3rd Prize in National Level Technical Fest-Innovate(For Massless Speaker)<br>
5th Prize in International Level Fest - Quest<br>
Research Paper Published in International Organization for Science and Research<br>
</p>
  </div>
</div>
